body {
    background-color: hsl(205deg 49% 81%);
}

.movie-poster {
    height: 400px;
    width: 100%;
    /* zoom  in */
    object-fit: fill;
}

.movie-name {
    font-size: 24px;
    margin: 0;
}

.movie-summary {
    font-size: 16px;
    width: 100%;
    height: 70px;
    overflow: hidden;  
    display: -webkit-box;    
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical; 

}

.movie-specs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.movie-container {
    background-color: orange;
    width: 340px;
}

/* RAM */
.movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 1rem;
    justify-items: center;
}

.add-movie-form {
    display: flex;
    flex-direction: column;
    max-width: 380px;
    gap: 1rem;
    margin: 1rem auto;
    min-height: 100vh;
}

.error-message{
    margin: 0;
    color: red;
    text-align: center;
}


/* edit-movie-form */
.edit-movie-form {
    display: flex;
    flex-direction: column;
    max-width: 380px;
    gap: 1rem;
    margin: 1rem auto;
    min-height: 100vh;
}

/* home */

.home {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    min-height: 100vh;
}

/* not-found */

.not-found {
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

.not-found>img {
    width: 100%;
    margin: 0 auto;
    position: relative;
    /* border: 2px solid red; */
}

/* movie-details-page */

.movie-details-container {
    max-width: 600px;
    padding: 1rem;
    margin-inline: auto;
}

/* nav-bar */
.nav-items-wrapper {
    display: flex;
    list-style-type: none;
}

.nav-items-wrapper>li{
    padding-inline: 20px;
    
}

.nav-items-wrapper>li >a{
    text-decoration: none;
    color: red;
}

.movie-details-wrapper {
    max-width: 800px;
    margin-inline: auto;
    /* border: 2px solid red; */
}



/* add-color */

.color-game-container {
    width: 40%;
    margin-inline: auto;
    min-height: 100vh;
}

.colors-container {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.color-input-wrapper {
    margin-inline: auto;
}

.color-input-wrapper>* {
    padding: 10px;
    font-size: 1rem;
    border-radius: 7px;
}